/* 全局 */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #d8d8d8;
  background-image: url("../img/back.jpg");
}
div.transbox
{
  opacity:0.7;
}
a {
  color: #7f7f7f;
  text-decoration: none;
}
li {
  list-style: none;
}
p {
  margin-bottom: 0;
}
/*自适应字体大小*/
.Tname {
  font-size: 23px;
}
@media (max-width: 990px) {
  .Tname {
    font-size: 17px;
  }
}
.footer {
  font-size: 16px;
}
@media (max-width: 1200px) {
  .footer {
    font-size: 8px;
  }
}
/* 头部 */
.header {
  background-color: #f1f1f1;
  height: 112px;
}
/* logo图标+名称 */
.log {
  text-align: center;
  line-height: 112px;
}
/* 教师名 */
.Tname {
  padding-top: 50px;
  text-align: center;
}

/* 导航栏 */
.navbar {
  font-size: 20px;
}
/* .nav-link:hover {
  background-color: #d9001b !important;
  color: #fff;
} */
.setting {
  margin-right: 0 !important;
}

.footer {
  text-align: center;
  background-color: #f1f1f1;
}
