/* 全局 */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #d8d8d8;
}
a {
  color: #7f7f7f;
  text-decoration: none;
}
.header {
  height: 100px;
}
.login {
  background-color: #f1f1f1;
  padding-top: 100px;
  padding-bottom: 100px;
}
.login .log {
  text-align: center;
}
.login input {
  border-radius: 6px;
}
.login button {
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer {
  text-align: center;
  background-color: #f1f1f1;
}
